html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  /* Disable text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  display: block;
}

/**
*  Address `[hidden]` styling not present in IE 8/9/10.
*  Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
*/
[hidden] {
  display: none;
}

/* Remove the gray background color from active links in IE 10. */
a {
  background-color: transparent;
}

/* Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover {
  outline: 0;
}

/**
*  Address variable `h1` font-size and margin within `section` and `article`
*  contexts in Firefox 4+, Safari, and Chrome.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
*  Correct overflow not hidden in IE 9/10/11.
*/
svg:not(:root) {
  overflow: hidden;
}

/* FONT PATH */
@font-face {
  font-family: 'FontAwesome';
  src: url("https://netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?v=4.2.0");
  src: url("https://netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("https://netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("https://netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("https://netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 *  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
 *  readers do not read off random characters that represent icons
 */
.fa-github:before {
  content: "";
}

.fa-twitter:before {
  content: "";
}

.fa-soundcloud:before {
  content: "";
}

/* Basic */
body, input, select, textarea {
  color: #333;
  font-family: 'Gill Sans', sans-serif;
  font-size: 15pt;
  font-weight: 300 !important;
  letter-spacing: -0.025em;
  line-height: 1.75em; }
  @media screen and (min-width: 1281px) and (max-width: 1680px) {
    body, input, select, textarea {
      font-size: 13pt; } }
  @media screen and (min-width: 737px) and (max-width: 1280px) {
    body, input, select, textarea {
      font-size: 12pt; } }
  @media screen and (min-width: 481px) and (max-width: 736px) {
    body, input, select, textarea {
      font-size: 11pt; } }
  @media screen and (max-width: 480px) {
    body, input, select, textarea {
      font-size: 11pt; } }

body {
  background: #fafafa;
  overflow: hidden; }
  body.loading * {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; }
  @media screen and (max-width: 480px) {
    body {
      min-width: 320px; } }

a {
  -moz-transition: border-color 0.2s ease-in-out;
  -webkit-transition: border-color 0.2s ease-in-out;
  -o-transition: border-color 0.2s ease-in-out;
  -ms-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: inherit;
  outline: 0;
  text-decoration: none; }
  a:hover {
    border-color: transparent; }

/* Icon */
.icon {
  text-decoration: none;
  position: relative; }
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    box-sizing: border-box; }
  .icon > .label {
    display: none; }

/* Wrapper */
#wrapper {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%; }

/* Main */
#main {
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%; }
  #main:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: 0;
    vertical-align: middle;
    width: 1px; }

/* Header */
@-moz-keyframes header {
  0% {
    -moz-transform: translate3d(0,1em,0);
    -webkit-transform: translate3d(0,1em,0);
    -o-transform: translate3d(0,1em,0);
    -ms-transform: translate3d(0,1em,0);
    transform: translate3d(0,1em,0);
    opacity: 0; }
  100% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1; } }
@-webkit-keyframes header {
  0% {
    -moz-transform: translate3d(0,1em,0);
    -webkit-transform: translate3d(0,1em,0);
    -o-transform: translate3d(0,1em,0);
    -ms-transform: translate3d(0,1em,0);
    transform: translate3d(0,1em,0);
    opacity: 0; }
  100% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1; } }
@-o-keyframes header {
  0% {
    -moz-transform: translate3d(0,1em,0);
    -webkit-transform: translate3d(0,1em,0);
    -o-transform: translate3d(0,1em,0);
    -ms-transform: translate3d(0,1em,0);
    transform: translate3d(0,1em,0);
    opacity: 0; }
  100% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1; } }
@-ms-keyframes header {
  0% {
    -moz-transform: translate3d(0,1em,0);
    -webkit-transform: translate3d(0,1em,0);
    -o-transform: translate3d(0,1em,0);
    -ms-transform: translate3d(0,1em,0);
    transform: translate3d(0,1em,0);
    opacity: 0; }
  100% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1; } }
@keyframes header {
  0% {
    -moz-transform: translate3d(0,1em,0);
    -webkit-transform: translate3d(0,1em,0);
    -o-transform: translate3d(0,1em,0);
    -ms-transform: translate3d(0,1em,0);
    transform: translate3d(0,1em,0);
    opacity: 0; }
  100% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1; } }
@-moz-keyframes nav-icons {
  0% {
    -moz-transform: translate3d(0,1em,0);
    -webkit-transform: translate3d(0,1em,0);
    -o-transform: translate3d(0,1em,0);
    -ms-transform: translate3d(0,1em,0);
    transform: translate3d(0,1em,0);
    opacity: 0; }
  100% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1; } }
@-webkit-keyframes nav-icons {
  0% {
    -moz-transform: translate3d(0,1em,0);
    -webkit-transform: translate3d(0,1em,0);
    -o-transform: translate3d(0,1em,0);
    -ms-transform: translate3d(0,1em,0);
    transform: translate3d(0,1em,0);
    opacity: 0; }
  100% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1; } }
@-o-keyframes nav-icons {
  0% {
    -moz-transform: translate3d(0,1em,0);
    -webkit-transform: translate3d(0,1em,0);
    -o-transform: translate3d(0,1em,0);
    -ms-transform: translate3d(0,1em,0);
    transform: translate3d(0,1em,0);
    opacity: 0; }
  100% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1; } }
@-ms-keyframes nav-icons {
  0% {
    -moz-transform: translate3d(0,1em,0);
    -webkit-transform: translate3d(0,1em,0);
    -o-transform: translate3d(0,1em,0);
    -ms-transform: translate3d(0,1em,0);
    transform: translate3d(0,1em,0);
    opacity: 0; }
  100% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1; } }
@keyframes nav-icons {
  0% {
    -moz-transform: translate3d(0,1em,0);
    -webkit-transform: translate3d(0,1em,0);
    -o-transform: translate3d(0,1em,0);
    -ms-transform: translate3d(0,1em,0);
    transform: translate3d(0,1em,0);
    opacity: 0; }
  100% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1; } }
#header {
  -moz-animation: header 1s 0s forwards;
  -webkit-animation: header 1s 0s forwards;
  -o-animation: header 1s 0s forwards;
  -ms-animation: header 1s 0s forwards;
  animation: header 1s 0s forwards;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  cursor: default;
  display: inline-block;
  opacity: 0;
  position: relative;
  text-align: center;
  top: -1em;
  vertical-align: middle;
  width: 90%; }
  #header h1 {
    margin: 0;
    font-family: Georgia, serif;
    font-size: 4.25em;
    font-weight: normal;
    letter-spacing: -0.035em;
    line-height: 1em; }
    @media screen and (max-width: 480px) {
      #header h1 {
        font-size: 3.25em; } }
  #header p {
    font-size: 1.25em;
    margin: 0.75em 0 0.25em 0;
    opacity: 0.75; }
    @media screen and (max-width: 480px) {
      #header p {
        font-size: 1em; } }
  #header nav {
    margin: 1.5em 0 0 0; }
    @media screen and (max-width: 480px) {
      #header nav {
        padding: 0 1em; } }
    @media screen and (min-width: 481px) and (max-width: 736px) {
      #header nav {
        padding: 0 1em; } }
    #header nav ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    #header nav li {
      -moz-animation: nav-icons 0.5s ease-in-out forwards;
      -webkit-animation: nav-icons 0.5s ease-in-out forwards;
      -o-animation: nav-icons 0.5s ease-in-out forwards;
      -ms-animation: nav-icons 0.5s ease-in-out forwards;
      animation: nav-icons 0.5s ease-in-out forwards;
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-transform: translate3d(0,0,0);
      -webkit-transform: translate3d(0,0,0);
      -o-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      display: inline-block;
      height: 5.35em;
      line-height: 5.885em;
      opacity: 0;
      position: relative;
      top: 0;
      width: 5.35em; }
      #header nav li:nth-child(1) {
        -moz-animation-delay: 0.25s;
        -webkit-animation-delay: 0.25s;
        -o-animation-delay: 0.25s;
        -ms-animation-delay: 0.25s;
        animation-delay: 0.25s; }
      #header nav li:nth-child(2) {
        -moz-animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
        -o-animation-delay: 0.5s;
        -ms-animation-delay: 0.5s;
        animation-delay: 0.5s; }
      #header nav li:nth-child(3) {
        -moz-animation-delay: 0.75s;
        -webkit-animation-delay: 0.75s;
        -o-animation-delay: 0.75s;
        -ms-animation-delay: 0.75s;
        animation-delay: 0.75s; }
      #header nav li:nth-child(4) {
        -moz-animation-delay: 1s;
        -webkit-animation-delay: 1s;
        -o-animation-delay: 1s;
        -ms-animation-delay: 1s;
        animation-delay: 1s; }
      #header nav li:nth-child(5) {
        -moz-animation-delay: 1.25s;
        -webkit-animation-delay: 1.25s;
        -o-animation-delay: 1.25s;
        -ms-animation-delay: 1.25s;
        animation-delay: 1.25s; }
      #header nav li:nth-child(6) {
        -moz-animation-delay: 1.5s;
        -webkit-animation-delay: 1.5s;
        -o-animation-delay: 1.5s;
        -ms-animation-delay: 1.5s;
        animation-delay: 1.5s; }
      #header nav li:nth-child(7) {
        -moz-animation-delay: 1.75s;
        -webkit-animation-delay: 1.75s;
        -o-animation-delay: 1.75s;
        -ms-animation-delay: 1.75s;
        animation-delay: 1.75s; }
      #header nav li:nth-child(8) {
        -moz-animation-delay: 2s;
        -webkit-animation-delay: 2s;
        -o-animation-delay: 2s;
        -ms-animation-delay: 2s;
        animation-delay: 2s; }
      #header nav li:nth-child(9) {
        -moz-animation-delay: 2.25s;
        -webkit-animation-delay: 2.25s;
        -o-animation-delay: 2.25s;
        -ms-animation-delay: 2.25s;
        animation-delay: 2.25s; }
      #header nav li:nth-child(10) {
        -moz-animation-delay: 2.5s;
        -webkit-animation-delay: 2.5s;
        -o-animation-delay: 2.5s;
        -ms-animation-delay: 2.5s;
        animation-delay: 2.5s; }
    #header nav a {
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      border: 0;
      display: inline-block; }
      #header nav a:before {
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        border-radius: 100%;
        border: solid 1px #333;
        display: block;
        font-size: 1.75em;
        height: 2.5em;
        line-height: 2.5em;
        position: relative;
        text-align: center;
        top: 0;
        width: 2.5em; }
      #header nav a:hover {
        font-size: 1.1em; }
        #header nav a:hover:before {
          background-color: rgba(255, 255, 255, 0.175);
          color: #333; }
        @media screen and (max-width: 480px) {
          #header nav a:hover {
            font-size: 1em; } }
      #header nav a:active {
        font-size: 0.95em;
        background: none; }
        #header nav a:active:before {
          background-color: rgba(255, 255, 255, 0.35);
          color: #1b428b; }
        @media screen and (max-width: 480px) {
          #header nav a:active {
            font-size: 1em; } }
      #header nav a span {
        display: none; }
